/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text: #757575;
  --secondary-text: #212121;
  --accent-color: #2196f3;
  --secondary-text-white: #ffffff;
  --hover-color-btm: #188ce8;
  --primary-background-color: #ffffff;
  --secondory-background-color: #f5f4fa;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text);
}
/* Utility */ /* Utility */ /* Utility */ /* Utility */ /* Utility */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */ /* Utility */ /* Utility */ /* Utility */ /* Utility */

/* Logo */ /* Logo */ /* Logo */ /* Logo */ /* Logo */
.logo-style,
.logo-studio,
.logo-style-footer,
.logo-studio-footer {
  font-family: var(--secondary-font);
}

.logo-style {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--secondary-text);
}

.logo-style-footer {
  color: var(--accent-color);
}
.logo-studio-footer {
  color: var(--secondary-text-white);
}
.logo-style {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* /Logo */ /* /Logo */ /* /Logo */ /* /Logo */ /* /Logo */

/* header */ /* header */ /* header */ /* header */ /* header */
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.page-header-portfolio {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}
.current {
  color: var(--accent-color);
}

/* /header */ /* /header */ /* /header */ /* /header */ /* /header */

/* Description */ /* Description */ /* Description */ /* Description */
.section {
  padding: 94px 0;
}
.description-list {
  display: flex;
  align-content: center;
  gap: 30px;
}
.description-item {
  width: 270px;
}

.description-hdr {
  margin-bottom: 10px;
}

.des-icon {
  background-color: var(--secondory-background-color);
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.description-header {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  margin-bottom: 30px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-text-white);
}

.description {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
  background-size: cover;
  background-color: #c4c4c4;
}

.style-btm {
  display: inline-block;
  min-width: 200px;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--secondary-text-white);
}

.style-btm:hover,
.style-btm:focus {
  background-color: var(--hover-color-btm);
  color: var(--secondary-text-white);
}
.description-hdr {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text);
}

.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Description */ /* Description */ /* Description */ /* Description */

/* About */ /* About */ /* About */ /* About */ /* About */ /* About */

.titel {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

.about-list {
  display: flex;
  gap: 30px;
}
.about {
  padding-top: 0;
}

/* About */ /* About */ /* About */ /* About */ /* About */ /* About */

/* Team */ /* Team */ /* Team */ /* Team */ /* Team */ /* Team */ /* Team */

.team {
  background: #f5f4fa;
}
.team-jpg {
  display: flex;
  align-content: center;
  gap: 30px;
}

.team-social-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
}

.team-icon {
  fill: #afb1b8;
}

.team-social-link:hover,
.team-social-link:focus {
  background: var(--accent-color);
}

.team-social-link:hover .team-icon,
.team-social-link:focus .team-icon {
  fill: var(--primary-background-color);
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-boarder {
  border: 1px solid #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
}

/* Team */ /* Team */ /* Team */ /* Team */ /* Team */ /* Team */ /* Team */

/* contact */ /* contact */ /* contact */ /* contact */ /* contact */

.contact {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}

.contact-container {
  display: flex;
  margin-left: auto;
}

.icon-contact {
  margin-right: 10px;
  fill: currentColor;
}

.contact-item + .contact-item {
  margin-left: 50px;
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

.contact-map:hover,
.contact-map:focus {
  color: var(--accent-color);
}

/* contact */ /* contact */ /* contact */ /* contact */ /* contact */

/* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */
.address {
  font-style: normal;
  margin-top: 20px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-style-footer {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-studio-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.contact-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-white);
}

.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.contact-item-footer:not(:last-child) {
  margin-bottom: 9px;
}
/* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */

/* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */
.style-btm-filter:hover,
.style-btm-filter:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-white);
}

.style-btm-filter {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  border: 1px solid #f5f4fa;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

.gallery-jpg {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text);
}

.general-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.btm-item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.glr-board {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

/* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ ;
